.preparo-logo {
  margin-left: 35px;
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 10px;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}

.preparo-logo:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.nav-bar {
  background-color: #e4e6e7;
}

.nav-item {
  padding-right: 30px;
  color: #3b4b5b;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  border: 2px solid transparent;
}

.nav-link:hover {
  color: #c93b59 !important;
  cursor: pointer;
}

.fas-bell--icon {
  fill: currentColor;
  display: inline-block;
  font-size: 1.2rem;
  color: #c93b59;
}

/* Here is the begin of CSS for bottom menu */

.bottom-container {
  width: 80%;
  padding-bottom: 5px;
}

.bottom-menu {
  display: none;
}

.menu-items-container {
  display: inline-flex;
  color: #808080;
}

.menu-bottom-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.search-icon,
.search-text,
.applys-icon,
.applys-text,
.bottom-notify-icon,
.notify-text {
  padding-left: 50px;
}

.menu-bottom-link {
  text-decoration: none;
  flex: 1;
  color: rgba(0, 0, 0, 0.54);
  padding: 6px 12px 8px;
}

.menu-bottom-link:hover {
  text-decoration: underline;
  color: #808080;
}

.bottom-notify-icon {
  color: #808080;
}

/* End of bottom menu */

@media only screen and (max-width: 767px) {
  .notification-icon,
  .nav-item {
    display: none;
  }

  .bottom-menu {
    display: flex;
  }
}
