* {
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f2f2f2;
  padding: 90px 0;
  margin: 0 10%;
}

a:hover {
  text-decoration: none;
}

.asterisk {
  color: #c93b59;
}

.main-title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  color: #34383e;
  padding: 25px 15px;
}

.main-content {
  background-color: #fff;
  border-radius: 6px;
}

.main-content--shadow {
  border: 1px solid transparent;
  box-shadow: 1px 6px 12px 6px rgba(136, 136, 136, 0.226);
}
